.toggle-button,
.toggle-button:focused,
.toggle-button:selected,
.toggle-button:selected:focused
 {
    -fx-background-color: #3b3b3b;
    -fx-text-fill: #b1b1b1;
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
}
